<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="xunit.diagnosticMessages" value="true"/>
    <add key="xunit.methodDisplay" value="method"/>
  </appSettings>

  <connectionStrings>
    <add name="dbfredsenaContext" connectionString="Data Source=MICRODELL\SQLEXPRESS;Initial Catalog=dbfredsena;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>