<?xml version="1.0" encoding="utf-8" ?>

<!--to Generate model: Configure connection string and a namespace and run-->
<!--Install-Package Dapper.SimpleCRUD.ModelGenerator-->

<configuration>
  <connectionStrings>
    <add name="dbfredsenaContext" connectionString="Data Source=MICRODELL\SQLEXPRESS;Initial Catalog=dbfredsena;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

